<%- include("partials/header") %>
<!-- Context Menu -->
<%- include("partials/contextmenu") %>
<!-- Side navigation -->
<%- include("partials/sidenav") %>
<div id="main">
    <%- include("partials/searchBar") %>
    <ul class="songResults" id='homeResults'></ul>
    <ul class='songResults' id="artistResults"></ul>
    <ul class='songResults' id="titleResults"></ul>
    <%- include("partials/playbar") %>
</div>
<%- include("partials/footer") %>