<%- include("partials/header") %>
<!-- Context Menu -->
<%- include("partials/contextmenu") %>
<!-- Side navigation -->
<%- include("partials/sidenav") %>
<div id="main">
    <%- include("partials/searchBar") %>
    <ul class="results homeResults" id='homeResults'></ul>
    <ul class='results artistResults' id="artistResults"></ul>
    <ul class='results titleResults' id="titleResults"></ul>
    <%- include("partials/playbar") %>
</div>
<%- include("partials/footer") %>