<%- include("partials/header") %>
<!-- Side navigation -->
<%- include("partials/sidenav") %>
<div id="main"><%- include("partials/searchBar") %>
    <div id="content"></div>
    <%- include("partials/playbar") %>
</div>
<%- include("partials/footer") %>