<%- include("partials/header") %>
<!-- Side navigation -->
<%- include("partials/sidenav") %>
<!-- Page content -->
<div class="main">
    <%- include("partials/searchBar") %>
    <%- include("partials/songList") %>
</div> 
<%- include("partials/footer") %>